<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resultado da seleção</title>
</head>
<body>
<h1>Olá ${nome}! Você foi selecionado. Parabéns!</h1>
<p>Prezado(a) candidato(a),</p>
<p>Estamos muito felizes em te enviar e-mail informando que você foi aprovado(a) para a vaga desejada. Parabéns pela sua conquista!</p>
<p>Entre em contato conosco para mais informações sobre os próximos passos no processo de contratação.</p>
<p>Obrigado por participar de nosso processo seletivo.</b></p>
<p></p>
<p>Atenciosamente,</p>
<p>Equipe Jornada Job</p>
</body>
</html>