<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resultado da seleção</title>
</head>
<body>
<h1>Olá ${nome}!</h1>
<p>Prezado(a) candidato(a),</p>
<p>Lamentamos informar que você não foi selecionado(a) para a vaga desejada. Agradecemos pelo seu interesse em nossa empresa e participação no processo seletivo.</p>
<p>Não desanime, continue buscando oportunidades e aprimorando suas habilidades.</p>
<p>Obrigado por participar de nosso processo seletivo.</b></p>
<p></p>
<p>Atenciosamente,</p>
<p>Equipe Jornada Job</p>
</body>
</html>